<div class="container">
  <div class="row mt-4">
    <div class="col-md-5">
      <h4><span class="pr-4 pl-4" style="background-color:whitesmoke;">管理者ログイン</span></h4>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-8 offset-md-2">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <table class="table">
          <tbody>
            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", style:"width:400px;" %></td>
            </tr>
        
            <tr>
              <td><%= f.label :password, "パスワード" %></td>
              <td><%= f.password_field :password, autocomplete: "current-password", style:"width:400px;" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit 'ログイン', class:"btn btn-md btn-primary", style:"width:150px;" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
<%= render "admin/shared/links" %>