<div class="container">
  <div class="row mt-4">
    <div class="col-md-5 offset-md-1">
      <h4><span class="pr-4 pl-4" style="background-color:whitesmoke;">タグ編集</span></h4>
    </div>
  </div>
  <% if @tag.errors.any? %>
  <%= @tag.errors.count %>件のエラーが発生しました
    <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row mt-5">
    <div class="col-md-6">

<%= form_with model: @tag,url: admin_tag_path do |f| %>
<table class="table">
  <tr>
    <td><%= f.label :name, "ジャンル名"%></td>
    <td><%= f.text_field :name %></td>
    <td><%= f.submit '変更を保存', class:"btn btn-md btn-success", style: "border-radius: 10px;" %></td>
  </tr>
</table>
<% end %>