<div class="container">
  <div class="row mt-4">
    <div class="col-md-5 offset-md-1">
      <h4><span class="pr-4 pl-4" style="background-color:whitesmoke;">
        ブックマーク一覧</span></h4>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>料理名</th>
        <th>投稿者名</th>
        
      </tr>
    </thead>
    <tbody>
      <% @bookmarks.each do |bookmark| %>
        <tr style="line-height:50px;">
          <td>
            <%= link_to cooking_path(bookmark.cooking) do %>
              <% if @cooking.image.attached? %>
                <%= image_tag bookmark.cooking.image %>
              <% else %>
                <%= image_tag asset_path("default-image.jpg"), :size =>'100x100' %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to cooking_path(bookmark.cooking) do %>
              <%= bookmark.cooking.name %>
            <% end %>
          </td>
          <td><%= bookmark.cooking.member.name %></td>
          
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>